<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conexion" connectionString="Data Source=sql5041.site4now.net;Initial Catalog=DB_A4A6A4_alimar;User Id=DB_A4A6A4_alimar_admin;Password=Alimar123;" />
    </connectionStrings>
</configuration>